{% extends 'base.html' %}

{% block container %}
<h2>Welcome!</h2>
<h3>Elegant Mail: sending messages to those you love.</h3>
<p>Elegant Mail is inspired by a Brazilian tradition. It is called "Correio Elegante" in Portuguese, and it is usually done in the June festivities.</p>
<h4>How does Elegant Mail work?</h4>
<p>First, think about that person who deserves to hear some love words today. Then choose to send between anonymous or signed messages. Write your message, and share Elegant Mail with everyone!</p>
{% endblock %}